packages/_*
packages/vulcan-*/**/*.test.js
packages/ddp-server
packages/webapp
packages/lesswrong/platform/webpack
packages/lesswrong/lib/generated
scripts
public/lesswrong-editor
!public/lesswrong-editor/src
