providers = ['node']

[phases.build]
dependsOn = ['install']
cmds = [
  'pnpm run build',
  'pnpm install --prod --no-optional', # cleanup dev dependencies
]

[phases.install]
cmds = [
  'npm install -g corepack@0.24.1 && corepack enable',
  'pnpm i --frozen-lockfile --prod=false --no-optional',
]

[phases.setup]
nixPkgs = ['...', 'python3Minimal']

[start]
cmd = 'pnpm run migrate up && exec node ./build/server/js/serverBundle.js'
# it doesn't work
# onlyIncludeFiles = ['./node_modules', './public', './build', './settings.json']
